body{
        font: 20px Arial, sans-serif
}

.navbar{
        background-color:#2BBBE5;
}

.quem-somos{
        background-color: darkkhaki;
        color: white;
}
.margin{
       
        padding-bottom: 50px;
        padding-top: 10px;
}

.parceiros{
        background-color: turquoise;
}

.bg-footer{
        background-color: black;
        color: white;
}